<section class="cart-show">

  <% if enhanced_cart.present? %>
    <%= render partial: 'cart_details' %>
  <% else %>
    <div class="alert alert-warning">
      <%= link_to "Your cart is currently empty. Go pick out something nice.", :products %>
    </div>
  <% end %>

</section>
