// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  text-align: center;

  .dashboard-header-text {
    flex-direction: column;
  }
}

.dashboard-table {
  margin: 5rem 5rem 5rem 5rem;
}

.dashboard-centering {
  display: flex;
}

.dashboard-table-heading {
  text-align: center;
  font-size: 30px;
}

.dashboard-table-data {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.admin-categories-subheading {
  margin-top: 4rem;
}

.admin-categories-list {
  font-weight: bold;
}

.li-hello-name {
  padding-top: 1.1em;
}